body{
    overflow-x: hidden;
}
/*=========MENU==========*/
#menu a{
    
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}
#menu form > button{
 font-size: 18px;
 font-weight: bold;
}
.navbar-collapse{
    flex-grow: none;
}

/*=========SLIDER==========*/
.carousel-inner{
    max-height: 39rem;
    
}
.slide{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
    position:absolute;
}

.momo{
    padding-top: 250px;
    font-size: 40pt;
    color: white;
}
.slide > p{
    font-size: 20pt;
    color: white;
}
.cuerpo-contenedor{
    padding-top: 20%;
}
@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .carousel-inner{
        max-height: 12rem;
        
    }
    .coco{
        width: 1440px;
        height: 200px;        
    }
    .contenedor{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .momo{
        padding-top: 80px;
        font-size: 25px;
        width: 90%;
        
    }
    .slide > p{
        font-size: 10pt;
       
    }
    .cuerpo-contenedor{
        padding: 1;
    }
    .cuerpo-contenedor .contenido-texto{
        width: 90%;
    }
    .imagen-intro{
        display: none;
    }
}

/*Body*/

.titulo{
    padding-top: 100px;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    color: blueviolet;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px; /*Para distinguirlo de cada sección*/

}
.cuerpo-contenedor{
    padding-bottom: 60px;
    width: 90%;
    max-width: 1000px;
    text-align: justify;
    margin: auto; /*Centrar todo*/
    overflow: hidden;/*Esconde lo que sale del cuerpo*/
}
.contenedor{
    display: flex;
    justify-content: space-evenly;
}

.contenido-texto{
    padding-top: 50px;
    padding-right: 30px;
    word-spacing: 5pt;  /*Separación entre palabras*/
    line-height: 20pt; /*Separación entre lineas*/
}
.contenedor img{
    width: 60%;
}

/*========== Página de about ============*/
/*Contendio*/
#carouselExampleDark{
    width: 100%;
    max-width: 1000px;
    margin: auto; /*Centrar todo*/
    overflow: hidden;
}

#carouselExampleOther{
    width: 100%;
    max-width: 1000px;
    margin: auto; /*Centrar todo*/
    overflow: hidden;
}
#carouselExampleSlider3{
    width: 100%;
    max-width: 1000px;
    margin: auto; /*Centrar todo*/
    overflow: hidden;
    padding-bottom: 100px;
}

.carousel-caption h5 p{
    color: white;
}

/*Para que el carousel tenga un tamaño estandar en las imagenes*/
#carousel-mod {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


/*Contactos*/
.contactame{
    background-image: url(/imagen/csgo.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    display: flex;
}
.contactame > img{
    margin: 120px;
    height: 300px;
    display: flex;
    background-size: cover;
    position: relative;
}

form{
    
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 20px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 7px;
}
input, textarea{
    font-family:'Courier New', Courier, monospace;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}
#boton:hover{
    cursor:pointer;
}
/*Responsive Contactos*/
@media (max-width:480px){
    form{
        width: 100%;
    }
}


/*footer*/
footer{
    background:#272727;
    padding: 40px 0 20px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;/*Rayita abajo*/
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: #fff;
    border-bottom: 2px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: #ccc;
}
@media screen and (max-width:900px){
    footer{
        background-position: center;
    }
    .contenedor-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-foo{
        padding: 20px;
    }
    .content-foo h4{
        font-size: 20px;
    }
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
