body{
    overflow-x: hidden;
}
/*=========MENU==========*/
#menu a{
    
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}
#menu form > button{
 font-size: 18px;
 font-weight: bold;
}
.navbar-collapse{
    flex-grow: none;
}

/*=========SLIDER==========*/
.carousel-inner{
    max-height: 39rem;
    
}
.slide{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-attachment: fixed;
    position:absolute;
}

.momo{
    padding-top: 250px;
    font-size: 40pt;
    color: white;
}
.slide > p{
    font-size: 20pt;
    color: white;
}
.cuerpo-contenedor{
    padding-top: 20%;
}
@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .carousel-inner{
        max-height: 12rem;
        
    }
    .coco{
        width: 1440px;
        height: 200px;        
    }
    .contenedor{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .momo{
        padding-top: 80px;
        font-size: 25px;
        width: 90%;
        
    }
    .slide > p{
        font-size: 10pt;
       
    }
    .cuerpo-contenedor{
        padding: 1;
    }
    .cuerpo-contenedor .contenido-texto{
        width: 90%;
    }
    .imagen-intro{
        display: none;
    }
}

/*Body*/

.titulo{
    padding-top: 100px;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    color: blueviolet;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px; /*Para distinguirlo de cada sección*/

}
.cuerpo-contenedor{
    padding-bottom: 60px;
    width: 90%;
    max-width: 1000px;
    text-align: justify;
    margin: auto; /*Centrar todo*/
    overflow: hidden;/*Esconde lo que sale del cuerpo*/
}
.contenedor{
    display: flex;
    justify-content: space-evenly;
}

.contenido-texto{
    padding-top: 50px;
    padding-right: 30px;
    word-spacing: 5pt;  /*Separación entre palabras*/
    line-height: 20pt; /*Separación entre lineas*/
}
.contenedor img{
    width: 60%;
}

/*========== Página de about ============*/
/*Contendio*/
#carouselExampleDark{
    width: 100%;
    max-width: 1000px;
    margin: auto; /*Centrar todo*/
    overflow: hidden;
}

#carouselExampleOther{
    width: 100%;
    max-width: 1000px;
    margin: auto; /*Centrar todo*/
    overflow: hidden;
}
#carouselExampleSlider{
    width: 100%;
    max-width: 900px;
    margin: auto; /*Centrar todo*/
    overflow: hidden;
    padding-bottom: 100px;
}

.carousel-caption h5 p{
    color: white;
}

/*Para que el carousel tenga un tamaño estandar en las imagenes*/
#carousel-mod {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/*Contactos*/
.container{
    display: flex;
    justify-content: space-evenly;
}
.iconos-texto{
    display: flex;
    justify-content: left;
    text-align: center;
    font-family:'Open Sans', sans-serif;
}
.iconos-texto p{
    margin: 0px 0px 30px;
    padding: 0 0 10px 50px;
    
}
.icono{
    color: aqua;
}

form{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 20px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
}
.titulo-contacto{
    padding-top: 100px;
    padding-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    color: blueviolet;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px; /*Para distinguirlo de cada sección*/
}

.section-title-divider{
    width: 50px;
    height: 3px;
    background: #03C4EB;
    margin: 0 auto;
    margin-bottom: 60px;
}

/*Responsive Contactos*/
@media (max-width:900px){
    form{
        width: 100%;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #container-iconos{
        padding-bottom: 80px;
    }
    .iconos-texto{
        display: flex;
        font-family:'Open Sans', sans-serif;
    }

}


/*footer*/
footer{
    background:#272727;
    padding: 40px 0 20px 0;
    margin: auto;
    overflow: hidden;
    
}
.contenedor-footer{
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content:space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;/*Rayita abajo*/
}
.indice{
    display: flex;
}
.lista a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-block;
}
.content-foo >img{
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 450px;
}

@media screen and (max-width:900px){
    footer{
        background-position: center;
    }
    .contenedor-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-foo{
        padding: 20px;
    }
    
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

/*-- ============= BARRA REDES SOCIALES ===================-->
            <!-- =======================================-->*/
.social {
    position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    left: 0; /* Establecemos la barra en la izquierda */
    top: 350px; /* Bajamos la barra 200px de arriba a abajo */
    z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
            
.social ul {
    list-style: none;
    padding-left: 0;
}
            
.social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}
.facebook{
    padding: 2.5px;
}

.social ul li a:hover {
    background: rebeccapurple; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}
@media screen and (max-width:900px){
    .social ul li a:hover {
        background: none; /* Cambiamos el fondo cuando el usuario pase el mouse */
        padding: 0; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
    }
}