*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Quitar la separación de los lados*/
}

body{
    font-family: Arial, Helvetica;
    background: #cccaca;
    
}

/*Menu*/
nav{
    position: absolute; /*Provoca que todo modifique su posición*/
    z-index: 1;/*El menú queda en la parte de atrás, este lo trae adelante*/
}
.menu{
    text-align: right;
    list-style: none;
    padding: 0;
    background: transparent;
    width: 100%;
    margin: 0;
    
}
.menu ul li a{
    text-decoration: none; /*Quita el subrayado de las letras*/
    color: white;
    padding: 20px;
    display: inline-block;
    
}
.menu ul li{
    padding-top: 30px;
    padding-right: 100px;
}

.menu ul li a:hover{
    background: #ef8354;
}

/*Slider*/

.contenido-slider{
    width: 100%;
    height: 800px;
    display: flex; /*Centrar el titulo*/
    justify-content: center;
    align-items: center;/*Distribuye los espacios,flex star: izquiera, flex-end: derecha y así*/
    text-align: center; /*Centra la palabra*/
    flex-direction: column; /*Convierte en columnas*/
    background: url(/Imagenes/fondo.jpg);
    background-size: cover; /*Tamaño de imagenes, escala la imagen al mayor tamaño posible sin estirarla*/
    background-attachment: fixed;/*Efecto de movimiento de imagen*/
    position: relative;
}


.contenido-slider h2 {
    font-weight: 300;
    line-height: 30px;
    font-size: 60pt;
    padding-bottom: 50px ;/*Separación entre "Hola soy Richard"y "Estudiante de ING"*/
    color: white;
}
.contenido-slider p{
    color: white;
    font-size: 25pt;
}

/*Body*/

.titulo{
    padding-top: 100px;
    padding-bottom: 30px;
    color: blueviolet;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px; /*Para distinguirlo de cada sección*/

}
.cuerpo-contenedor{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
    width: 90%;
    max-width: 1000px;
    text-align: justify;
    margin: auto; /*Centrar todo*/
    overflow: hidden;/*Esconde lo que sale del cuerpo*/
}
.cuerpo{
    padding-top: 50px;
    padding-right: 30px;
    word-spacing: 5pt;  /*Separación entre palabras*/
    line-height: 20pt; /*Separación entre lineas*/
}
.imagen{
    width: 60%;
}

/*Página de about*/
/*Slider*/
.contenido-slider-about{
    width: 100%;
    height: 200px;
    display: flex; /*Centrar el titulo*/
    justify-content: space-around;
    align-items:flex-start;/*Distribuye los espacios,flex start: izquiera, flex-end: derecha y así*/
    text-align: right; /*Centra la palabra*/
    flex-direction:column; /*Convierte en columnas*/
    background: url(/Imagenes/about.jpg);
    background-size: cover; /*Tamaño de imagenes, escala la imagen al mayor tamaño posible sin estirarla*/
    background-attachment: fixed;/*Efecto de movimiento de imagen*/
    position: relative;
}

.contenido-slider-about h3{
    padding-left: 100px;
    font-size: 30pt;
    color: white;
}

/*Contendio*/
.galeria-about{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-about{
    width: 24%;
    margin-bottom: 60px;
    overflow: hidden;
}

.imagen-about > img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*Soluciona error de la imagen, ancho y alto*/
    display: block;
}

.imagen-about > h3{
    position: absolute; /*Provoca que todo modifique su posición*/
    z-index: 1;/*El menú queda en la parte de atrás, este lo trae adelante*/
    font-size: 15pt;
    padding-top: 20px;
    padding-left: 20px;
}




/*footer*/
footer{
    background:#272727;
    padding: 50px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: center;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;/*Rayita abajo*/
}
.foo-contenedor{
    padding: 5px;
}
.foo-contenedor img{
    width: 30px;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
